{% extends 'base.html.twig' %}
{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <h1 class="mt-0">{{ category.name }}</h1>
    {% for program in programs %}
        <ul>
            <li>
                <h2>{{ program.title }}</h2>
                <p>{{ program.summary }}</p>
                <a href="{{ path("program_show", { program_slug : program.slug }) }}">Voir la fiche</a>
            </li>
        </ul>
    {% else %}
        Pas de programme pour cette catégorie.
    {% endfor %}
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories.
    </a>

{% endblock %}