{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <h1>Saisons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('season_index') }}">Retour à la liste</a>
</br>
    <a href="{{ path('season_edit', {'id': season.id}) }}">éditer</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
